.jumbotron
  %h1 Welcome to MyRecipies app
  %p Some text about the MyRecipies app
  %p
    %a.btn.btn-primary.btn-lg Sign up now!

.row
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Panel primary
      .panel-body
        Panel content
  .col-md-4
    .panel.panel-success
      .panel-heading
        %h3.panel-title Panel success
      .panel-body
        Panel content
  .col-md-4
    .panel.panel-warning
      .panel-heading
        %h3.panel-title Panel warning
      .panel-body
        Panel content
